:root{
--cor-de-fundo:#EBECEE;

}
bory{
    background-color: var(--cor-de-fundo);

H1{

background-color: white;

}


h2{
background-color: black;
font-size: 24pt;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;